.center {
    max-width: 560px;
    max-height: 315px;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto;
}

.link {
	text-align: center;
	max-width: 560px;
	max-height: 315px;
	position: absolute;
	top: 665px; right: 0px;
	bottom: 0px; left: 0px;
	margin: auto;
	font-size: 15px;
